.title {
  padding: 0.5rem;
}

.projects__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 5rem;
}
.projects__card {
  position: relative;
  max-width: 400px;
  width: 90%;
  background: $grey;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  transition: 0.4s;

  .card-title {
    width: 100%;
    color: $black2;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    .btn-card {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 0;
      outline: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      color: $grey;
      font-size: 1.1em;
      transition: 0.3s;

      &:hover {
        background-color: $fuschia;
      }
    }
  }
  .projects__card-img {
    width: 100%;
    display: flex;
    padding: 0.3rem;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  .projects__card-info {
    width: 100%;
    padding: 0.5rem;
    transition: 0.3s;

    h3 {
      font-weight: 600px;
      color: $black;
      font-size: 1.1em;
    }

    p {
      color: $black2;
      font-size: 0.8em;
    }

    .projects__card-info-tech {
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      color: $black;

      span {
        margin: 0.3rem;
        background-color: $blue;
        padding: 0.3rem;
        border-radius: 5px;
        color: $grey;
      }
    }
  }
}

.projects__card-links {
  margin: 0.5rem auto;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $blue;
    color: $grey;
    width: 45%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.3s;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: $fuschia;
    }
  }
}

@include laptop {
  .projects__card {
    width: 30%;
    max-width: none;

    .projects__card-img {
      img {
        width: 100% !important;
        height: fit-content;
      }
    }
  }
}
