.container-secction {
  padding: 1rem;
  color: $grey;
}

.title {
  text-align: center;
  color: $grey;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  width: 90%;
  margin: 0 auto;

  section {
    background-color: $blue;
    padding: 1rem;
    width: 250px;
    min-height: 250px;
    margin: 2rem;
    border-radius: 10px;

    h3 {
      text-align: center;
      font-size: 1.4rem;
      border-bottom: 2px solid #333;
    }

    h4 {
      padding: 0.3rem;

      i {
        color: $grey;
        font-size: 1.1rem;
        margin-right: 0.3rem;
      }
    }
  }
}
